UMA.json
[{"id":"c63f4b9d9d7c3a8f","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"359bbe9beb10ddc1","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"30e6b4625a1aac85","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"fb65ed18e772957e","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"ce736370a4b5d48c","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"64f4635e02ea4ddb","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"790fa50f6b2d5351","type":"ui_group","name":"Temperatura","tab":"e4b2b9538dd3655b","order":2,"disp":true,"width":8,"collapse":false,"className":""},{"id":"76f64d16e39c48a3","type":"ui_group","name":"Humedad","tab":"e4b2b9538dd3655b","order":1,"disp":true,"width":"8","collapse":false,"className":""},{"id":"e4b2b9538dd3655b","type":"ui_tab","name":"Invernadero Uninpahu","icon":"dashboard","disabled":false,"hidden":false},{"id":"5dbb64726b0bda1d","type":"ui_group","name":"Narrativa","tab":"e4b2b9538dd3655b","order":3,"disp":true,"width":"10","collapse":false,"className":""},{"id":"ae8b0616968cf9aa","type":"ui_group","name":"Opciones","tab":"e4b2b9538dd3655b","order":4,"disp":true,"width":"10","collapse":false,"className":""},{"id":"42e08469c0420a8d","type":"ui_spacer","z":"359bbe9beb10ddc1","name":"spacer","group":"ae8b0616968cf9aa","order":2,"width":10,"height":"2","className":""},{"id":"e99f1daad87e6fb4","type":"ui_spacer","z":"359bbe9beb10ddc1","name":"spacer","group":"790fa50f6b2d5351","order":1,"width":1,"height":1},{"id":"9a8d7c011953312b","type":"mqtt in","z":"c63f4b9d9d7c3a8f","name":"","topic":"/test","qos":"2","datatype":"auto","broker":"64f4635e02ea4ddb","nl":false,"rap":true,"rh":0,"x":170,"y":120,"wires":[["9279aa4d8312ff8e"]]},{"id":"7225c55e3a9ba1e7","type":"mqtt out","z":"c63f4b9d9d7c3a8f","name":"","topic":"/test","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"64f4635e02ea4ddb","x":830,"y":300,"wires":[]},{"id":"908a9814cc0d4c5e","type":"inject","z":"c63f4b9d9d7c3a8f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hola desde Node-red","payloadType":"str","x":260,"y":320,"wires":[["7225c55e3a9ba1e7"]]},{"id":"9279aa4d8312ff8e","type":"debug","z":"c63f4b9d9d7c3a8f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":350,"y":120,"wires":[]},{"id":"5b3220ad9d9eec24","type":"template","z":"c63f4b9d9d7c3a8f","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"https://api.weather.com/v3/wx/forecast/daily/5day?geocode={{lat}},{{long}}&format=json&units=m&language=es-MX&apiKey={{APIkey}}","output":"str","x":400,"y":440,"wires":[["6d70137af64e5bdd","0edf962dc1a37c21"]]},{"id":"18064ac7f46e3d00","type":"inject","z":"c63f4b9d9d7c3a8f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"lat","v":"4.62963","vt":"str"},{"p":"long","v":"-74.06995","vt":"str"},{"p":"APIkey","v":"93fd4a4a95ca40e8bd4a4a95ca30e88d","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":240,"y":440,"wires":[["5b3220ad9d9eec24"]]},{"id":"6d70137af64e5bdd","type":"debug","z":"c63f4b9d9d7c3a8f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":440,"wires":[]},{"id":"6d5dcf63b13c4481","type":"http request","z":"c63f4b9d9d7c3a8f","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":540,"wires":[["fb023407292097b2","6ddc4ee0248ee600","b014da42cc73c576","3a4132152b9ca8d8"]]},{"id":"0edf962dc1a37c21","type":"change","z":"c63f4b9d9d7c3a8f","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":540,"wires":[["6d5dcf63b13c4481"]]},{"id":"fb023407292097b2","type":"debug","z":"c63f4b9d9d7c3a8f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":920,"y":620,"wires":[]},{"id":"7091467e2e1dafb3","type":"ui_chart","z":"359bbe9beb10ddc1","name":"","group":"76f64d16e39c48a3","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":210,"y":100,"wires":[[]]},{"id":"399c023ee16d7b82","type":"ui_gauge","z":"359bbe9beb10ddc1","name":"","group":"790fa50f6b2d5351","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":530,"y":120,"wires":[]},{"id":"b1282113fc8002aa","type":"ui_text","z":"359bbe9beb10ddc1","group":"5dbb64726b0bda1d","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","className":"","x":790,"y":120,"wires":[]},{"id":"5534d6b73cba0f26","type":"ui_text","z":"359bbe9beb10ddc1","group":"76f64d16e39c48a3","order":2,"width":0,"height":0,"name":"","label":"Hum máx.","format":"{{msg.payload}}","layout":"row-spread","className":"","x":180,"y":200,"wires":[]},{"id":"0aa29a1945791843","type":"ui_text","z":"359bbe9beb10ddc1","group":"76f64d16e39c48a3","order":3,"width":0,"height":0,"name":"","label":"Hum mín.","format":"{{msg.payload}}","layout":"row-spread","className":"","x":180,"y":280,"wires":[]},{"id":"ee89f503b992d0f6","type":"ui_text","z":"359bbe9beb10ddc1","group":"790fa50f6b2d5351","order":3,"width":0,"height":0,"name":"","label":"Temp máx.","format":"{{msg.payload}}","layout":"row-spread","className":"","x":490,"y":200,"wires":[]},{"id":"bdf01a9459c6dff0","type":"ui_text","z":"359bbe9beb10ddc1","group":"790fa50f6b2d5351","order":4,"width":0,"height":0,"name":"","label":"Temp mín","format":"{{msg.payload}}","layout":"row-spread","className":"","x":480,"y":280,"wires":[]},{"id":"8dfd7372cab9fbeb","type":"ui_dropdown","z":"359bbe9beb10ddc1","name":"","label":"","tooltip":"","place":"Select option","group":"ae8b0616968cf9aa","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":800,"y":260,"wires":[[]]},{"id":"403965a41d4ea20b","type":"ui_button","z":"359bbe9beb10ddc1","name":"","group":"ae8b0616968cf9aa","order":3,"width":0,"height":0,"passthru":false,"label":"Generar Reporte","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":830,"y":340,"wires":[["a30ae8c9f1bc1600"]]},{"id":"bb4d40080e44f16e","type":"ui_text","z":"359bbe9beb10ddc1","group":"76f64d16e39c48a3","order":4,"width":0,"height":0,"name":"","label":"Hum prom.","format":"{{msg.payload}}","layout":"row-spread","className":"","x":190,"y":360,"wires":[]},{"id":"6ddc4ee0248ee600","type":"change","z":"c63f4b9d9d7c3a8f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.narrative[1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":720,"wires":[["ce59c221b1b065cb","fd57d21d82e39ecd","36d347776bbe13e9"]]},{"id":"ce59c221b1b065cb","type":"debug","z":"c63f4b9d9d7c3a8f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1160,"y":800,"wires":[]},{"id":"fd57d21d82e39ecd","type":"link out","z":"c63f4b9d9d7c3a8f","name":"narrativaOut","links":["ef866796d2e42263","4e3937e85c30bb5b"],"x":1295,"y":880,"wires":[]},{"id":"ef866796d2e42263","type":"link in","z":"359bbe9beb10ddc1","name":"narrativaIn","links":["fd57d21d82e39ecd"],"x":655,"y":120,"wires":[["b1282113fc8002aa"]]},{"id":"834b30cfa413378d","type":"ui_button","z":"c63f4b9d9d7c3a8f","name":"","group":"ae8b0616968cf9aa","order":3,"width":0,"height":0,"passthru":false,"label":"Estación Metereológica","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":170,"y":600,"wires":[["8db05bd903451e4e"]]},{"id":"8db05bd903451e4e","type":"change","z":"c63f4b9d9d7c3a8f","name":"","rules":[{"t":"set","p":"lat","pt":"msg","to":"4.62963","tot":"str"},{"t":"set","p":"long","pt":"msg","to":"-74.06995","tot":"str"},{"t":"set","p":"APIkey","pt":"msg","to":"93fd4a4a95ca40e8bd4a4a95ca30e88d","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":520,"wires":[["5b3220ad9d9eec24"]]},{"id":"fab2e86475f34aea","type":"watson-text-to-speech","z":"30e6b4625a1aac85","name":"speaker","lang":"es-ES","langhidden":"es-ES","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"es-ES_LauraV3Voice","voicehidden":"es-ES_LauraV3Voice","format":"audio/wav","password":"Megaman80%ofcompletion","apikey":"ywfcvexV9GophrBFEy84LjzXVVt2lEyTXtwmRxPFi-5H","payload-response":true,"service-endpoint":"https://api.us-east.text-to-speech.watson.cloud.ibm.com/instances/c21f5cc2-f7e7-4235-8692-5bacc568eb47","x":520,"y":100,"wires":[["724a4f8c23dc84f7"]]},{"id":"724a4f8c23dc84f7","type":"ui_audio","z":"30e6b4625a1aac85","name":"","group":"5dbb64726b0bda1d","voice":"","always":"","x":800,"y":120,"wires":[]},{"id":"4e3937e85c30bb5b","type":"link in","z":"30e6b4625a1aac85","name":"narrativaIn2","links":["fd57d21d82e39ecd"],"x":355,"y":100,"wires":[["fab2e86475f34aea"]]},{"id":"91a1e69384430409","type":"debug","z":"c63f4b9d9d7c3a8f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":80,"wires":[]},{"id":"8b779512bbd76f9b","type":"exec","z":"c63f4b9d9d7c3a8f","command":"node C:\\Users\\carlo\\Documents\\invernadero_tester\\invernadero.js","addpay":"","append":"","useSpawn":"true","timer":"","winHide":false,"oldrc":false,"name":"","x":520,"y":240,"wires":[["ca4b8bb6029423d2"],[],[]]},{"id":"158df09d84948b00","type":"inject","z":"c63f4b9d9d7c3a8f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":180,"y":240,"wires":[["8b779512bbd76f9b"]]},{"id":"4cd04f59c8b7f452","type":"template","z":"c63f4b9d9d7c3a8f","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"El reporte del día es el siguiente:\n\n {{narrativa}}\n \n temperatura Máxima: {{tempMax}} ºC\n temperatura Mínima: {{tempMin}} ºC\n temparatura Invernadero: {{temp}} ºC\n humedad: {{hum}} %\n \n ","output":"str","x":960,"y":1160,"wires":[["0fbde4851acd61c3"]]},{"id":"644a35ac4a4a7b58","type":"change","z":"c63f4b9d9d7c3a8f","name":"","rules":[{"t":"set","p":"narrativa","pt":"msg","to":"narrativa","tot":"global"},{"t":"set","p":"tempMin","pt":"msg","to":"tempMin","tot":"global"},{"t":"set","p":"tempMax","pt":"msg","to":"tempMax","tot":"global"},{"t":"set","p":"temp","pt":"msg","to":"temp","tot":"global"},{"t":"set","p":"hum","pt":"msg","to":"hum","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":1160,"wires":[["4cd04f59c8b7f452"]]},{"id":"a30ae8c9f1bc1600","type":"link out","z":"359bbe9beb10ddc1","name":"reporte","links":["02bb3da15b0c8bae"],"x":975,"y":340,"wires":[]},{"id":"02bb3da15b0c8bae","type":"link in","z":"c63f4b9d9d7c3a8f","name":"reporteout","links":["a30ae8c9f1bc1600"],"x":365,"y":1160,"wires":[["644a35ac4a4a7b58"]]},{"id":"36d347776bbe13e9","type":"change","z":"c63f4b9d9d7c3a8f","name":"","rules":[{"t":"set","p":"narrativa","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":920,"wires":[[]]},{"id":"0fbde4851acd61c3","type":"debug","z":"c63f4b9d9d7c3a8f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1220,"y":1160,"wires":[]},{"id":"ca4b8bb6029423d2","type":"debug","z":"c63f4b9d9d7c3a8f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":920,"y":220,"wires":[]},{"id":"d98a2e2645584048","type":"mqtt in","z":"c63f4b9d9d7c3a8f","name":"","topic":"/UMA/hum","qos":"2","datatype":"auto","broker":"64f4635e02ea4ddb","nl":false,"rap":true,"rh":0,"x":700,"y":100,"wires":[["91a1e69384430409","f6d57de9720285ed","4ea31bf02f5e2ff2"]]},{"id":"0db067a42ffb090f","type":"mqtt in","z":"c63f4b9d9d7c3a8f","name":"","topic":"/UMA/temp","qos":"2","datatype":"auto","broker":"64f4635e02ea4ddb","nl":false,"rap":true,"rh":0,"x":700,"y":160,"wires":[["4453e4a3e7963079","30e9446f5cb49eec","f41a95460eabddf0"]]},{"id":"4453e4a3e7963079","type":"debug","z":"c63f4b9d9d7c3a8f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":140,"wires":[]},{"id":"7fccba973a9c7e9f","type":"link in","z":"359bbe9beb10ddc1","name":"humIn","links":["f6d57de9720285ed"],"x":55,"y":60,"wires":[["7091467e2e1dafb3"]]},{"id":"c9f0583f2a475976","type":"link in","z":"359bbe9beb10ddc1","name":"tempIn","links":["30e9446f5cb49eec"],"x":315,"y":80,"wires":[["399c023ee16d7b82"]]},{"id":"f6d57de9720285ed","type":"link out","z":"c63f4b9d9d7c3a8f","name":"humOut","links":["7fccba973a9c7e9f"],"x":915,"y":20,"wires":[]},{"id":"30e9446f5cb49eec","type":"link out","z":"c63f4b9d9d7c3a8f","name":"tempOut","links":["c9f0583f2a475976"],"x":935,"y":180,"wires":[]},{"id":"16680afdc8b4f14c","type":"change","z":"c63f4b9d9d7c3a8f","name":"","rules":[{"t":"set","p":"tempMax","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":1020,"wires":[[]]},{"id":"b014da42cc73c576","type":"change","z":"c63f4b9d9d7c3a8f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperatureMax[1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":960,"wires":[["16680afdc8b4f14c","53cab4a4efb57e5a"]]},{"id":"3a4132152b9ca8d8","type":"change","z":"c63f4b9d9d7c3a8f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperatureMin[1]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":1060,"wires":[["61a48fce5f389225","1bd4f21987da98fd"]]},{"id":"53cab4a4efb57e5a","type":"link out","z":"c63f4b9d9d7c3a8f","name":"tempMaxOut","links":["e8f6a5e1559d756f"],"x":1245,"y":980,"wires":[]},{"id":"61a48fce5f389225","type":"link out","z":"c63f4b9d9d7c3a8f","name":"tempMinOut","links":["cf16fb8206764472"],"x":1255,"y":1120,"wires":[]},{"id":"e8f6a5e1559d756f","type":"link in","z":"359bbe9beb10ddc1","name":"","links":["53cab4a4efb57e5a"],"x":335,"y":180,"wires":[["ee89f503b992d0f6"]]},{"id":"cf16fb8206764472","type":"link in","z":"359bbe9beb10ddc1","name":"","links":["61a48fce5f389225"],"x":335,"y":260,"wires":[["bdf01a9459c6dff0"]]},{"id":"4ea31bf02f5e2ff2","type":"change","z":"c63f4b9d9d7c3a8f","name":"","rules":[{"t":"set","p":"hum","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":60,"wires":[[]]},{"id":"f41a95460eabddf0","type":"change","z":"c63f4b9d9d7c3a8f","name":"","rules":[{"t":"set","p":"temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":160,"wires":[[]]},{"id":"1bd4f21987da98fd","type":"change","z":"c63f4b9d9d7c3a8f","name":"","rules":[{"t":"set","p":"tempMin","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":1060,"wires":[[]]}]